ContactBook/.vs/
ContactBook/ContactBookApi.Test/bin/
ContactBook/ContactBookApi.Test/obj/
ContactBook/ContactBookApi/bin/
ContactBook/ContactBookApi/obj/
ContactBook/ContactBookWeb/bin/
ContactBook/ContactBookWeb/obj/
ContactBook/ContactBookWeb/wwwroot/lib/
