<nav class="navbar navbar-default" style="margin-bottom:0px" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" style="margin-right:160px">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                    </button>
                    <!--<div id="nav-ntent-logo-container">
                        <div id="nav-ntent-logo" />
                    </div>-->
                    <a class="navbar-brand" href="http://interknowlogy.com" target="_blank">
                        <img src="Content/images/ik_logo.png" style="height:25px; width:190px;margin-bottom:50px;" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <img src="Content/images/logosmall.png" style="height:30px; width:35px;margin-top:5px;" />
                        </li>
                        <li>
                            <a href="#!" class="brightText" style="color:#313031; font-size: large; ">
                                <span style="color:#009b74;">
                                 Contact Book
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#!/add" title="Add Contact" ng-click="commonCtrl.addNewContact=true">Add Contact</a>
                        </li>
                        <li>
                            <a href="#!" title="Import">Import Contacts</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdownUser">
                                User Name <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/logout">Logout</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /.container-fluid -->
</nav>